


.read__more{
    color: #dc4f72;
    margin-top: 30px;
}

.lable__sub{
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
    padding: 5px 16px;
    border-radius: 25px;
    margin-bottom: 15px;
}

/* breadcrumb */
.blog__breadcrumb{
    background-color: #f8f9fa;
}
.blog__breadcrumb .breadcrumb__content{
    margin-top: 90px;
}
.blog__breadcrumb .breadcrumb__content ol li a{
    color: #dc4f72;
}
/* CAROUSEL */
.blog__carousel{
    background-color: #f8f9fa;
}
.blog__carousel .blog__content .item{
    /* width: 1150px; */
    background-color: #fff;
}
.blog__carousel .blog__content .item .blog__img{
    width: 50%;
    position: relative;
}
.blog__carousel .blog__content .item .blog__img img{
    width: 100%;
}
.blog__carousel .blog__content .item .blog__img p{
    top: 0;
    right: 0;
    position: absolute;
    color: #fff;
    background-color: #dc4f72;
    line-height: 25px;
    padding: 15px;
}
.blog__carousel .blog__content .item .blog__rightSub{
    width: 50%;
    padding: 30px;
}

.blog__carousel  .owl-theme .owl-nav [class*=owl-]{
    color: #fff;
    font-size: 20px;
    margin: 0px;
    padding: 0;
    background: rgba(220, 79, 114, 0.4);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}