*{

}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
h6.sub__title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
h3.h3__title{
    color:black;
    font-size: 46px;
    font-weight: 700;
}
p.psub{
    color:black;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.btn__pink{
   
    color: white;
    border:1px solid #dc4f72 ;
    background-color: #dc4f72;
    padding: 15px 30px;
    transition: all 1s;
    border-radius: 10px;
}
.btn__pink:hover{
    color:#dc4f72 ;
    background-color: #fff;
   }
   .btn__light{
   
    color: #dc4f72;
    border:1px solid #dc4f72 ;
    background-color:#fff;
    padding: 15px 30px;
    transition: all 1s;
    border-radius: 10px;
}
.btn__light:hover{
    color:#fff ;
    background-color: #dc4f72;
   }
/* HEADER */

/* POSTER */
.poster{    
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url("/img/banner.jpg");
    background-attachment: fixed;
    background-position: center;
}
.poster .poster__title h3{
    font-size: 50px;
    line-height: 57px;
    font-weight: 700;
}
.poster__content{
    padding-top: 80px;
}
.poster .poster__title p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}


/* CHOOSE */
.choose .choose__content .choose__title{
    max-width: 750px;
    margin: auto;
}
.choose .choose__content .choose__title h6.sub__title{
    margin-bottom: 5px;
}
.choose .choose__content .choose__group .choose__item p{
    color: black;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}
.choose .choose__content .choose__group .choose__item h3{
    color: black;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}
.choose .choose__content .choose__group .choose__item{
    /* transform: 0; */
    transition: all 1s;
    background-color: #F7F9FC;
    /* border: 1px solid #f8f9fa ; */
}
.choose .choose__content .choose__group .choose__item:hover{
    /* transform: scaleX(1.1); */
    transform: translateY(-20px);
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
/* ABOUT */
.about .about__content .about__right img{
    transition: all 1s;
    border-radius: 16px;
}
.about .about__content .about__right img:hover{
    transform: translateY(-20px);
}

/* NUMBER */
.number .number__content .number__item{
    background-color: #fff;
    transition: all 0.5s;
}
.number .number__content .number__item:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);;
}
.number .number__content .number__item p.counter{
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
/* OURSELVES */
.our{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("/img/bg.jpg");
    background-position: center;
    background-attachment: fixed ;
}
.our .our__content{
    max-width: 550px;
}
/* fqa */
.faq .faq__group .accordion .accordion-button{
    border: 1px solid #eee;
}
.faq .faq__group .accordion-button:not(.collapsed){
    color: #000;
    background-color: #fff;
}

/* featured */

 .featured .featured__tab .nav-tabs .nav-link:hover{
    border-color: #fff;
 }
.featured .featured__tab .nav-tabs .nav-item{
    width: calc(100% / 3);
    font-size: 22px;
    font-weight: 700;
    color: #000;
 }
 .featured .featured__tab .nav-tabs .nav-item button{
    width: 100%
 }
 .featured .featured__tab .nav-tabs .nav-item .nav-link{
    color: #000;
 }
 .featured .featured__tab .nav-tabs .nav-item:focus-visible{
    outline: none;
 }

 .featured .featured__tab .nav-tabs .nav-link.active{
   border-style: none;
    border-bottom:1px solid #dc4f72;
    color: #dc4f72;
    
} 
.featured .featured__tab .tab-content .tab-pane img{
    transition: all 1s;
} 
.featured .featured__tab .tab-content .tab-pane img:hover{
    transform: translateY(-20px);
}

/* member */
.member{
    background:linear-gradient(to right,#fff, rgba(255, 255, 255, 0.77)), url("./../img/b2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.member .member__carousel .item{
    padding: 0 20px;
}
.member .row{
    background-color: #fff;
    margin: 0;
}
.member .member__content .member__carousel .item .item__img{
    padding: 0;
    width: 100px;
    height: 100px;
    border: 3px solid #dc4f72;
    overflow: hidden;
    border-radius: 50%;
}
.member .member__content .member__carousel .item .item__img img{
    /* width: 100%; */
    /* min-height: 100%; */
    /* object-fit: cover; */
    /* object-position: center; */
}
.member .member__content .member__carousel .item .item__content .icon{
    color: #d5d6d7;
}
.member .member__content .member__carousel .item .item__content .name h4{
    color: #dc4f72
}
.member .member__content .member__carousel .item .item__content .name p{
    color: #5a5a5a;
    font-size: 13px;
}
/* community */
.community .community__content{
    max-width: 750px;
    margin: 0 auto;
}
/* FOOTER */
footer .footer__content .footer__item h3{
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}
footer .footer__content .footer__item ul li a{
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    transition: all 0.5s;
}
footer .footer__content .footer__item ul li a:hover{
    color: #dc4f72;
}
footer .footer__content .footer__news .end__column{
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow:  1px 5px 7.5px rgba(14, 13, 13, 0.2);
}


footer .footer__content .footer__news .end__column h4{
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}
footer .footer__content .footer__news .subscribe input[type = "email"]{
    background-color: #f7f9fc;
    border: none;
    font-size: 16px;
    padding: 12px 20px;
    outline: none;
    color: #000;
    font-weight: 600;
    border-radius: 6px;
    width: 80%;
}
footer .footer__content .footer__news .end__column p {
    color: #5a5a5a;
}
footer .footer__content .copyright {
   border-top: 1px solid #eee;
   color: #5a5a5a;
}
footer .footer__content .copyright .copyright__right ul li a{
    padding-left: 20px;
    color: #2c3038;
}
